/* CSS Entry Point */

html{
	background: url('../images/Tatooine1.png') no-repeat fixed;
	background-size: 1250px;
}

.arena {
	width: 1000px;
	height: 500px;
	justify-content: center;
	display: flex;
	font-size: 28px;
	align-items: flex-end;
}

.jedi img { 
	width: 150px;
	// display: flex;
	// justify-content: center;
	// align-items: flex-end;
	// position: absolute;
	// &.left {
 //    transform: rotateY(0deg);
 //  }

  // &.right {
    transform: rotateY(180deg);
  // }
}

.sith img {
	width: 250px;
}

// .laser_green {
// 	border: 1 px solid #8AF808;
// 	width: 15px;
// 	position: absolute;
// }

// .laser_red {
// 	border: 1 px solid #FC4903;
// 	width: 15px;
// 	position: absolute;
// }