/* CSS Entry Point */
html{
	background: url('../images/Deathstar.png') no-repeat fixed;
	background-size: 1250px;
}

body {

		.blaster {
			width: 1px;
			height: 1px;
			background: red;
			position: absolute;
			transition: background 0.2s;
	}

	.arena {
		width: 1200px;
		height: 600px;
		justify-content: center;
		display: flex;
		font-size: 28px;
		color: white;
		align-items: flex-end;
		margin-bottom: 30px;
	}

	.jedi img { 
		width: 175px;
	    transform: rotateY(180deg);
 
	}

	.sith img {
		width: 325px;
	}

	.status{ 
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}	
